<!DOCTYPE html>
<html>
  <head>
    <title>StockManage</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" >
    <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
  </head>
  <body class="clerefix">
    <section id="mainbar">
     <div class="top_main">
       <header id="top_head">
        <%= link_to root_path do %>
         <img class="logo" src="/StockMemo.png" alt="StockMemo" height="60">
        <% end %>
        <ul class="header_list">
          <li class="" id="">
            <% if user_signed_in? %>
              <%= link_to '企業登録', new_company_path, class: "nav-items" %>
              <%= link_to '企業一覧', companies_path, class: "nav-items" %>
              <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "nav-items" %>
            <% else %>
              <%= link_to '新規登録', new_user_registration_path, class: "nav-items" %>
              <%= link_to 'ログイン', new_user_session_path, class: "nav-items" %>
            <% end %>
          </li>
        </ul>
        <% unless flash.empty? %>
          <div id="message_board" data-aos="fade-left" data-aos-easing="ease-in-out" data-aos-duration="1500">
            <span class="sign_message"><%= flash[:notice] %></span>
          </div>
        <% end %>
       </header>
        <div id="top_firld_main" data-aos="zoom-out-down"  data-aos-duration="1100">
          <div class=""><img class="firld_logo" src="/StockMemo.png" alt="StockMemo" height="80"></div>
          <div class="frame">
            <div class="sign_frame">
              <div class="sign_frame_form">
                <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                  <div class="field">
                    <%= f.label :メールアドレス %><div class="under_bar"></div><div class="form_space"></div>
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
                  </div>
                  <div class="field">
                    <%= f.label :パスワード %><div class="under_bar"></div><div class="form_space"></div>
                    <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
                  </div>
                  <% if devise_mapping.rememberable? -%>
                  <div class="field-check">
                    <%= f.check_box :remember_me %>
                    <%= f.label :ログイン情報を保存する %>
                  </div>
                <% end -%>
              </div>
              <div class="sign_frame_btn">
                <div class="actions">
                  <%= button_tag :type => "submit", :class =>"type3" do %>
                    ログイン
                  <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
       </div>
    </section>
      <!--ハンバーガーメニュー  -->
    <div class="header responsib-geader">
      <%= link_to root_path do %>
        <img class="logo" src="/StockMemo.png" alt="StockMemo" height="50">
      <% end %>
      <div class="el_humburger">
        <span class="top"></span>
        <span class="middle"></span>
        <span class="bottom"></span>
      </div>
      <div id="navigation" class="navigation">
        <div class="navigation_screen">
          <nav class="navigation_wrapper">
            <% if user_signed_in? %>
            <% else %>
              <div class="navigation_item"><%= link_to '新規登録', new_user_registration_path, data: {"turbolinks" => false} %></div>
              <div class="navigation_item"><%= link_to 'ログイン', new_user_session_path, data: {"turbolinks" => false} %></div>
            <% end %>
          </nav>
        </div>
      </div>
    </div>
    <!-- フッター -->
    <div id="footer_sab" class="clerefix">
      <div class="footer-left">
        <!-- ログイン時のビュー -->
        <% if user_signed_in? %>
          <ul id="footer-menu">
            <li>
              <%= link_to new_company_path do %>
              <span>企業登録</span>
              <% end %>
            </li>
            <li>
              <%= link_to new_company_path do %>
              <span>企業一覧</span>
              <% end %>
            </li>
            <li>
              <%= link_to new_company_path do %>
              <span>ログアウト</span>
              <% end %>
            </li>
          </ul>
        <!-- 未ログイン時のビュー -->
        <% else %>
          <ul id="footer-menu">
            <li>
              <%= link_to new_user_registration_path do %>
              <span>新規登録</span>
              <% end %>
            </li>
            <li>
              <%= link_to new_user_session_path do %>
              <span>ログイン</span>
              <% end %>
            </li>
          </ul>
        <% end %>
      </div>
      <div class="footer-right">
        <div class="space_footer"></div>
        <div class="banner_1">
          <%= link_to "https://finance.yahoo.co.jp/", target: "_blank", class: "banner_logo" do %>
            <img id="banner_logo_1" src="/yahoo.jpg" alt="StockMemo" height="70">
          <% end %>
        <div class="banner_2">
          <%= link_to "https://minkabu.jp/", target: "_blank", class: "banner_logo" do %>
            <img id="banner_logo_2" src="/minkabu.jpg" alt="StockMemo" height="70">
          <% end %>
        </div>
      </div>
      <div class="space_footer"></div>
      </div>
    </div>

    <footer class="clerefix">
      <span class="footer-text">Copyright ©StockMemo</span>
    </footer>



    <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>


  </body>
</html>
