<section id="mainbar">
  <div id="regist_company">
    <table class="company_table">
      <thead>
        <tr>
          <th class="value">登録日時</th>
          <th class="value">証券コード</th>
          <th class="value">企業名</th>
          <th>メモ</th>
        </tr>
      </thead>
        <tbody>
          <% @company.each do |f| %>
            <tr id="company_list">
              <td class="value"><%= f.created_at.strftime('%Y/%m/%d') %></td>
              <td class="value" id="pages"><%= link_to "https://minkabu.jp/stock/#{f.stock_code}", target: "_blank" do %><%= f.stock_code %></td><% end %>
              <td class="value" id="pages"><%= link_to company_path(f) do %><%= f.company_name %></td><% end %>
              <td id="pages"><%= f.text.truncate(30) %></td>
            </tr>
          <% end %>
        </tbody>
    </table>
    <!-- <div class="list_space"></div> -->
    <div class="attention">
        <span class="box_title"><i class="fas fa-exclamation-triangle"></i> 操作方法</span><br>
        <div class="box_attention">
        <p><i class="far fa-check-circle check_icon"></i> 証券コードのリンクをクリックすると<span class="under">外部サイト(みんなの株式)</span>へと移動します。</p><br>
        <p><i class="far fa-check-circle check_icon"></i> 企業名のリンクをクリックすると<span class="under">企業詳細ページ</span>へと移動します。</p><br>
      </div>
    </div>
  </div>
</section>

