<section id="mainbar">
  <div id="show_company">
    <ul class="show_company">
      <li><i class="fas fa-chevron-circle-right show_icon"></i> 証券コード</li>
      <div class="show_list"><p><%= link_to "https://minkabu.jp/stock/#{@company.stock_code}", target: "_blank" do %><%= @company.stock_code %><% end %></p></div>
      <li><i class="fas fa-chevron-circle-right show_icon"></i> 企業名</li>
      <div class="show_list"><p><%= @company.company_name %></p></div>
      <li><i class="fas fa-chevron-circle-right show_icon"></i> メモ</li>
      <div class="show_list"><p><%= @company.text %></p></div>
    </ul>
    <div class="company_show_btn">
      <div class="company_edit_btn">
        <%= link_to edit_company_path(@company.id) do %>
        <p>編集</p>
        <% end %>
      </div>
      <div class="company_destroy_btn">
        <%= link_to "削除", company_path(@company.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
      </div>
    </div>
  </div>
</section>

