<!DOCTYPE html>
<html>
  <head>
    <title>StockManage</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
    <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
  </head>
  <body class="clerefix">
    <header>
      <%= link_to root_path do %>
        <img class="logo" src="/StockMemo.png" alt="StockMemo" height="60">
      <% end %>
            <ul class="header_list">
        <li class="" id="">
          <% if user_signed_in? %>
            <%= link_to '企業登録', new_company_path, class: "nav-items" %>
            <%= link_to '企業一覧', companies_path, class: "nav-items" %>
            <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "nav-items" %>
          <% else %>
            <%= link_to '新規登録', new_user_registration_path, class: "nav-items" %>
            <%= link_to 'ログイン', new_user_session_path, class: "nav-items" %>
          <% end %>
        </li>
      </ul>
    </header>

    <div class="space"></div>

    <div class="main clerefix">
      <div class="sidebar">
        <ul id="side-menu">
          <li>
            <%= link_to root_path do %>
              <i class="fas fa-user-plus side_icon"></i> 企業登録
            <% end %>
          </li>
          <li>
            <%= link_to companies_path do %>
              <i class="far fa-building side_icon"></i> 企業一覧
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
              <i class="fas fa-sign-out-alt side_icon"></i> ログアウト
            <% end %>
          </li>
        </ul>
        <div class="ranking"> <!-- ランキング -->
          <div class="rank_title">
            <h4><i class="fas fa-trophy ranking_icon"></i> 登録企業TOP3</h4>
          </div>
        <ul id="side-menu">
          <li class="rank_list">
            <div class="maru1">
              <span>1</span>
            </div>
            <%= link_to root_path do %>
              <span>企業登録</span>
            <% end %>
          </li>
          <li class="rank_list">
            <div class="maru2">
              <span>2</span>
            </div>
            <%= link_to companies_path do %>
              <span>登録企業一覧</span>
            <% end %>
          </li>
          <li class="rank_list">
            <div class="maru3">
              <span>3</span>
            </div>
            <%= link_to new_company_path do %>
              <span>ログアウト</span>
            <% end %>
          </li>
        </ul>
        </div>
      </div>
      <div class="mainbar">
          <% unless flash.empty? %>
            <div id="message_board" data-aos="fade-left" data-aos-easing="linear" data-aos-duration="1500">
              <span class="sign_message"><%= flash[:notice] %></span>
            </div>
          <% end %>
        <%= yield %>
      </div>
    </div>
<!--     <div id="content" class="clearfix">

  <div id="sideber"> -->

<!--       <div><img src="/assets/logo1.jpg" height="90" class="sidelogo"></div>
 --><!--       <div><img src="img/hatakeyama-official.png" height="70"></div>
 -->
<!--     <ul id="side-menu">
      <li>
        <%= link_to new_company_path do %>
        <i class="fab fa-twitter twittericon"></i> 企業登録
        <% end %>
      </li>
      <li>
        <%= link_to new_company_path do %>
        <i class="fab fa-instagram instaicon"></i> 企業一覧
        <% end %>
      </li>
      <li>
        <%= link_to new_company_path do %>
        <i class="fab fa-line lineicon"></i> ログアウト
        <% end %>
      </li>
    </ul>
    <div class="sns-menu">
     <div class="picture-content">
      <div class="ranking">
        <h1>登録数top10</h1>
        <div class="ranking_menu">
          <ul id="side-menu">
            <li>
              <%= link_to new_company_path do %>
              <i class="fab fa-twitter twittericon"></i> 企業登録
              <% end %>
            </li>
            <li>
              <%= link_to new_company_path do %>
              <i class="fab fa-instagram instaicon"></i> 企業一覧
              <% end %>
            </li>
            <li>
              <%= link_to new_company_path do %>
              <i class="fab fa-line lineicon"></i> ログアウト
              <% end %>
            </li>
          </ul>

        </div>
      </div>
     </div>
    </div>
  </div>
</div> -->

<!-- <div id="main-content"> -->

  <!-- ハンバーガーメニュー -->
<!--      <header>
      <div class="inner clearfix">
      <div id="nav_toggle">
        <div>
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <nav id="responsive-menu">
        <ul>
          <li><a href="https://twitter.com/naotob0_0d"><i class="fab fa-twitter twittericon"></i> Twitter</a></li>
          <li><a href="https://www.instagram.com/naoto.b0_0d"><i class="fab fa-instagram instaicon"></i> Instagram</a></li>
          <li><a href="mailto:info@hatakeyama-official.com"><i class="far fa-envelope mailicon"></i> Mail</a></li>
          <li><a href="https://line.me/ti/p/kcIssidMxL"><i class="fab fa-line lineicon"></i> Line</a></li>
        </ul>
      </nav>
      </div>
    </header> -->
<!-- -------------------- -->

  <!-- </div> -->
<!--       <footer class="clerefix">
      <span class="footer-text">Copyright ©StockManage</span>
    </footer> -->




    <div class="space"></div>

    <div id="footer_sab" class="clerefix">
      <div class="footer-left">
        <ul id="footer-menu">
          <li>
            <%= link_to new_company_path do %>
            <span>企業登録</span>
            <% end %>
          </li>
          <li>
            <%= link_to new_company_path do %>
            <span>登録企業一覧</span>
            <% end %>
          </li>
          <li>
            <%= link_to top_path do %>
            <span>トップページ</span>
            <% end %>
          </li>
          <li>
            <%= link_to new_company_path do %>
            <span>ログアウト</span>
            <% end %>
          </li>
        </ul>
      </div>
      <div class="footer-right">
        <div class="space_footer"></div>
        <div class="banner_1">
          <%= link_to "https://finance.yahoo.co.jp/", target: "_blank", class: "banner_logo" do %>
            <img id="banner_logo_1" src="/yahoo.jpg" alt="StockMemo" height="70">
          <% end %>
        <div class="banner_2">
          <%= link_to "https://minkabu.jp/", target: "_blank", class: "banner_logo" do %>
            <img id="banner_logo_2" src="/minkabu.jpg" alt="StockMemo" height="70">
          <% end %>
        </div>
      </div>
      <div class="space_footer"></div>
      </div>
    </div>

    <footer class="clerefix">
      <span class="footer-text">Copyright ©StockMemo</span>
    </footer>

    <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>

  </body>

</html>
