<!DOCTYPE html>
<html>
  <head>
    <title>StockManage</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
    <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
  </head>
  <!-- ヘッダ -->
  <body class="clerefix">
    <header>
      <%= link_to root_path do %>
        <img class="logo" src="/StockMemo.png" alt="StockMemo" height="60">
      <% end %>
      <ul class="header_list">
        <li class="" id="">
          <% if user_signed_in? %>
            <%= link_to '企業登録', new_company_path, class: "nav-items" %>
            <%= link_to '企業一覧', companies_path, class: "nav-items" %>
            <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "nav-items" %>
          <% else %>
            <%= link_to '新規登録', new_user_registration_path, class: "nav-items" %>
            <%= link_to 'ログイン', new_user_session_path, class: "nav-items" %>
          <% end %>
        </li>
      </ul>
    </header>

    <div class="space"></div>

    <div class="main clerefix">
      <div class="sidebar">
        <ul id="side-menu">
          <li class="side_menu_list">
            <i class="fas fa-user-plus side_icon icon1"><%= link_to root_path do %>
              </i> 企業登録
            <% end %>
          </li>
          <li class="side_menu_list">
            <i class="far fa-building side_icon icon2"><%= link_to companies_path do %>
              </i> 企業一覧
            <% end %>
          </li>
          <li class="side_menu_list">
            <i class="fas fa-sign-out-alt side_icon icon3"><%= link_to destroy_user_session_path, method: :delete do %>
              </i> ログアウト
            <% end %>
          </li>
        </ul>
        <!-- ランキング -->
        <div class="ranking">
          <div class="rank_title">
            <h4><i class="fas fa-trophy ranking_icon"></i> 登録企業TOP3</h4>
          </div>
        <ul id="side-menu">
          <% i = 1 %>
          <% @get_rankings.each do |f| %>
          <li class="rank_list">
            <div class="rank_sercle">
              <span><%= i %></span>
            </div>
            <%= link_to "https://minkabu.jp/stock/#{f.stock_code}", target: "_blank" do %>
              <span> <%= f.stock_code %></span><i class="fas fa-angle-double-right rank_icon"></i><span class="rank_name"><%= f.company_name %></span>
            <% end %>
          </li>
          <% i += 1 %>
          <% end %>
        </ul>
        </div>
      </div>
      <div class="mainbar">
          <% unless flash.empty? %>
            <div id="message_board" data-aos="fade-left" data-aos-easing="linear" data-aos-duration="1500">
              <span class="sign_message"><%= flash[:notice] %></span>
            </div>
          <% end %>
        <%= yield %>
      </div>
    </div>
    <!-- ハンバーガーメニュー -->
    <div class="header responsib-geader">
      <%= link_to root_path, data: {"turbolinks" => false} do %>
        <img class="logo" src="/StockMemo.png" alt="StockMemo" height="50">
      <% end %>
      <div class="el_humburger">
        <span class="top"></span>
        <span class="middle"></span>
        <span class="bottom"></span>
      </div>
      <div id="navigation" class="navigation">
        <div class="navigation_screen">
          <nav class="navigation_wrapper">
            <% if user_signed_in? %>
              <div class="navigation_item"><%= link_to '企業登録', new_company_path, data: {"turbolinks" => false} %></div>
              <div class="navigation_item"><%= link_to '企業一覧', companies_path, data: {"turbolinks" => false} %></div>
              <div class="navigation_item"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, data: {"turbolinks" => false} %></div>
            <% else %>
              <div class="navigation_item"><%= link_to '新規登録', new_user_registration_path, class: "" %></div>
              <div class="navigation_item"><%= link_to 'ログイン', new_user_session_path, class: "" %></div>
            <% end %>
          </nav>
        </div>
      </div>
    </div>
    <!-- フッター -->
    <div class="space"></div>
    <div id="footer_sab" class="clerefix">
      <div class="footer-left">
        <ul id="footer-menu">
          <li>
            <%= link_to new_company_path, data: {"turbolinks" => false} do %>
            <span>企業登録</span>
            <% end %>
          </li>
          <li>
            <%= link_to companies_path, data: {"turbolinks" => false} do %>
            <span>企業一覧</span>
            <% end %>
          </li>
          <li>
            <%= link_to top_path, data: {"turbolinks" => false} do %>
            <span>トップページ</span>
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete, data: {"turbolinks" => false} do %>
            <span>ログアウト</span>
            <% end %>
          </li>
        </ul>
      </div>
      <div class="footer-right">
        <div class="space_footer"></div>
        <div class="banner_1">
          <%= link_to "https://finance.yahoo.co.jp/", target: "_blank", class: "banner_logo" do %>
            <img id="banner_logo_1" src="/yahoo.jpg" alt="StockMemo" height="70">
          <% end %>
        <div class="banner_2">
          <%= link_to "https://minkabu.jp/", target: "_blank", class: "banner_logo" do %>
            <img id="banner_logo_2" src="/minkabu.jpg" alt="StockMemo" height="70">
          <% end %>
        </div>
      </div>
      <div class="space_footer"></div>
      </div>
    </div>
    <footer class="clerefix">
      <span class="footer-text">Copyright ©StockMemo</span>
    </footer>
    <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
